@model IEnumerable<MyProject.Models.Category_Tbl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cat_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cat_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cat_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cat_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cat_id })
        </td>
    </tr>
}

</table>
