@model MyProject.Models.User_Tbl

@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="about">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">About</li>
        </ol>
        <h2>Signup Here</h2>
        <div class="about-head">
            <p>
                The College Sports Club is a dynamic community within our academic institution, dedicated to promoting physical fitness, teamwork, and a passion for sports. We offer a diverse range of athletic activities, fostering a supportive environment for students to engage, excel, and build lifelong connections. Join the club, where sportsmanship meets camaraderie, shaping well-rounded individuals for a successful journey ahead!
            </p>
        </div>
    </div>
</div>
@using (Html.BeginForm("Signup", "User_Tbl", new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

<div class="container">
    <h2 class="text-center">User Registration</h2>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
       
        @Html.LabelFor(model => model.User_Name, "Enter Full Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.User_Email, "Enter Your Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.User_Password, "Enter a Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
        </div>
    </div>   <br />

    <div class="form-group">
        @Html.LabelFor(model => model.User_Dept, "Enter Your Department", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User_Dept, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User_Dept, "", new { @class = "text-danger" })
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
    </div>
    <center> <a href="@Url.Action("Login","User_Tbl")">Already have Account ?</a></center>
</div>
}
<br />
<br />

