@model MyProject.Models.RequestJoin_Tbl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RequestJoin_Tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Req_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Req_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Req_Dept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Req_Dept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Req_Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Req_Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category_Tbl.Cat_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category_Tbl.Cat_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Req_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
