<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    @*<link href="/Content/assets/img/favicon.png" rel="icon">
    <link href="/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">*@

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Content/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/Content/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/Content/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAq1BMVEX////gwLS9dVavUR+uTxvCgGXly8Hy5eDMloGsSAiwVCWrRQCuTRfPnorevbC6akaqQgC7cE7atKa1YDf27OfUp5avUiH48fKzWy/79/h7AAC6i5Dy6uuBABKIGSqCABavdnzu4ePs2NDDg2iLJTOlYWjk0tXIjnafVl+JHS2bTFXawsWXQkyEAB2EABuSNkHQsbXJpanDmp6nZm3dxsmzfoTVsKrLn5rRopDWSq8+AAABrUlEQVR4AXTShYKCQBQF0Ks0MyIp3cg6stb2/3/ZDoKtR+kXxMONyVQQJRkvKKqmCbouEDpT8MiYm1QfUdOa3CeTPvlC0Ih6KWM7l+QLajo2Bq5HtcX99YVGPRcDHzACctuCBAbgh8P1KE4AeW6K+kg0LRlI4shHL0yzvCiBSjLp0LyugLLIs/QU0DRZumwB5c2klKgu0K7SrGlOAXnDsXzdAf7MC4HuPWcNNwZg0xyx7W4P7rDbsuFMjsGu6WUbxjabroyO2yEFgyXrr39075tspVSHPF+2XR/BVhjEGT/ahsD+E/M6ib/Gqtk3BvvNOdoiP9k5KTtg0G75QQFuGvw2TQjuwAO2LUabMWDi8PM/+jkgxGjFGrYGYHX5+sf8cwF8Z8Opy01ECWCvV4Y5cSkA/mCbA078LcsLH1BSOQihECAscpb7OIs3LXpLFYD6Bq5l40NeRkJX0MqqPRXhz20gDHHNtYhAvBDGbAKDimTu4lbo8Fmg2nT2V/fzJwY+7lm0HzVKhQWPdEI8qok+IhKesk3hOM+mhxeUQOPlFxVe+zNNFf/DC9iVGEgEAFigMeUoKWyiAAAAAElFTkSuQmCC">
    <!--//fonts-->
    <!-- Template Main CSS File -->
    <link href="/Content/assets/css/style.css" rel="stylesheet">

</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">SPORTS ADMIN</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->



        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->



                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">


                        <h5>Admin Panel</h5>
                        <span class="d-none d-md-block dropdown-toggle ps-2">

                        </span>



                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">


                            <span>Admin of Sports Club</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>


                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Login","Admin_Tbl")">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Log Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Admin","Home")">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","User_Tbl")">
                    <i class="bi bi-file-earmark"></i>
                    <span> Member Accounts</span>
                </a>
            </li><!-- End Blank Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","RequestJoin_Tbl")">
                    <i class="bi bi-file-earmark"></i>
                    <span> RequestToJoin </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","TeamList_Tbl")">
                    <i class="bi bi-file-earmark"></i>
                    <span>Team Members List</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href=" ">
                    <i class="bi bi-file-earmark"></i>
                    <span>News &Aacute; Events</span>
                </a>
            </li>

            <li class="nav-item">

            </li><!-- End Forms Nav -->
            <a class="nav-link collapsed" href="@Url.Action("")">
                <i class="bi bi-file-earmark"></i>
                <span>Gallery </span>
            </a>

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","Home")">
                    <i class="bi bi-file-earmark"></i>
                    <span>Offcial site</span>
                </a>
            </li><!-- End Blank Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Create","Category_Tbl")">
                    <i class="bi bi-file-earmark"></i>
                    <span>Add New Sport</span>
                </a>
                
            </li><!-- End Blank Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("Index","Admin_Tbl")">
                    <i class="bi bi-file-earmark"></i>
                    <span>Admin Details</span>
                </a>
        </ul>

    </aside><!-- End Sidebar-->
    <main id="main" class="main">


        @RenderBody()
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>SPORT CLUB | MACFAST</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by <a href="#">Sandeep S Kumar | 2023</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/Content/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/Content/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/Content/assets/vendor/quill/quill.min.js"></script>
    <script src="/Content/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/Content/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/Content/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/Content/admin/assets/js/main.js"></script>
</body>
</html>
